@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.monaco-editor,
.monaco-editor .overflow-guard {
  border-radius: 4px;
}

.tabs-boxed {
  padding: 0.75rem;
  background-color: #f3f5f2;
}
